.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 250px;
    min-height: 100vh;

    a[data-toggle="collapse"] {
        position: relative;
    }
    
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
}

#sidebar.active {
    margin-left: -200px;
}



#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    color: #fff;
    transition: all 0.3s;
}



#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: .9em;
    display: block;
}
#sidebar ul li a:hover {
    color: white;
    background: #ffa31a;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
}

.bg-light-warn{
    background-color: #ffa31a;
}

ul ul a {
    font-size: 0.8em !important;
    padding-left: 30px !important;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

//content
#content{
    width: 100% !important;
    .fancy-card{
        .icon{
            font-size: 1.3rem;
        }
    }
}

