<ul class="nav bg-primary py-2">
  <li class="nav-item" *ngIf="CurrentRoute == '/' ">
    <a class="nav-link logo active" routerLink="/">
      <ng-fontawesome icon="magic" ></ng-fontawesome>
      Blog</a>
  </li>
  <li class="nav-item" *ngIf="CurrentRoute !== '/' ">
    <a class="nav-link" (click)="backClicked()">
      <ng-material-icon class="d-flex align-items-center" icon="keyboard_arrow_left"  size="1.5"></ng-material-icon>
    </a>
  </li>
  <li class="nav-item ml-auto">
    <a class="nav-link" href="#"> Login</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="#"> Register</a>
  </li>
</ul>
