<ul class="nav bg-primary py-2">
  <li class="nav-item" *ngIf="CurrentRoute == '/' ">
    <a class="nav-link logo active" href="#">NgBlog</a>
  </li>
  <li class="nav-item" *ngIf="CurrentRoute !== '/' ">
    <a class="nav-link" (click)="backClicked()">
      <ng-material-icon class="d-flex align-items-center" icon="keyboard_arrow_left"  size="1.5"></ng-material-icon>
    </a>
  </li>
  <li class="nav-item ml-auto pr-2">
    <div class="dropdown">
      <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <ng-material-icon class="d-flex align-items-center" icon="more_vert"  size="1.5"></ng-material-icon>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" >Profile</a>
        <a class="dropdown-item" routerLink="create">Write Post</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </li>
</ul>
